{% extends 'base.html' %}

{% block content %}

    <div class="grid text-center">
        <p class="fs-3">Список ваших дел</p>
        <p>На сайте представлен список дел. Каждый пользователь может создавать свой личный список и впоследствии редактировать его, отмечать завершенные дела, а также удалять свои записи.</p>
        <p>Для начала работы авторизируйтесь, если у вас уже есть учетная запись. А если такой нет, то нажмите на кнопку ниже для регистрации.</p>
        <a class="btn btn-primary" href="{% url 'signupuser' %}" role="button">Начать</a>
    </div>

{% endblock %}
